/* Quantiy */
.quantity {


  display: flex;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  background-color: #fafafa;


  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  button{
    cursor: pointer;
    width: 33.3%;
    border:none;
    background: none;
    font-size:26px;
    color:#a46497;
  }

  input{
    width: 33.3%;
    text-align: center;
    border:none;
    background: none;
    font-size:16px;
  }

}